.outer{
    border: 5px solid green;
    border-width: 2ch;
    display: flex;
    flex-direction: columns;
    
}

.outer div{
    color : blue;
    background : yellow;
    flex: 1 1 auto;
    border:2px solid blue ;
}

.outer div div{
    border :5px black solid;
}